### Example environment variables for development setup
# Copy this file to `.env` in the same directory and fill in or replace the values.
# DO NOT ADD THIS FILE TO VERSION CONTROL!
POSTGRES_PASSWORD=password
POSTGRES_DB=docuisine
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_S3_PORT=9000
MINIO_CONSOLE_PORT=9001
