site_name: Docuisine Documentation
# 
site_author: Chris Irag
#
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true    
            merge_init_into_class: true
