site_name: Docuisine
site_author: Chris Irag
repo_url: https://github.com/iragca/docuisine
repo_name: iragca/docuisine
theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true
            merge_init_into_class: true

nav:
  - Home: index.md
  - Getting Help: getting-help.md
  - User Guide:
      - user-guide/index.md
      - Installation: user-guide/installation.md
      - Configuration: user-guide/configuration.md
  - Contributing:
      - contributing/index.md
      - Development: contributing/development.md
      - "Source Tree": contributing/source-tree.md
  - About:
      - Changelog: about/changelog.md
      - License: about/license.md