site_name: Docuisine
site_author: Chris Irag
repo_url: https://github.com/iragca/docuisine
repo_name: iragca/docuisine
copyright: Copyright &copy; 2025 Chris Irag
site_description: Documentation for Docuisine, a data cuisine recipe manager.
site_url: https://iragca.github.io/docuisine/
theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: teal
    accent: teal
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: teal
    toggle:
      icon: material/weather-night
      name: Switch to light mode
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true
            merge_init_into_class: true
  - neoteroi.mkdocsoad:
      use_pymdownx: true

extra_css:
  - assets/neoteroi.css

nav:
  - Home: index.md
  - Getting Help: getting-help.md
  - User Guide:
      - user-guide/index.md
      - Installation: user-guide/installation.md
      - Configuration: user-guide/configuration.md
  - Contributing:
      - contributing/index.md
      - Development: contributing/development.md
      - "Source Tree": contributing/source-tree.md
      - Style Guides: contributing/style-guides.md
      - Branding: contributing/branding.md
      - Artifacts:
        - API Reference: contributing/artifacts/api-reference.md
        - Database: contributing/artifacts/database.md
  - About:
      - Changelog: about/changelog.md
      - License: about/license.md