name: Perform linting and unit tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v6

    - name: Install dependencies with uv
      run: |
        uv venv .venv
        source .venv/bin/activate
        uv sync

    - name: Lint with ruff
      run: |
        source .venv/bin/activate
        uv run ruff format --check
        uv run ruff check

    - name: Test with pytest
      env:
        DATABASE_URL: "sqlite:///:memory:"
        MODE: "testing"
      run: |
        source .venv/bin/activate
        uv run pytest tests
